@import 'colors.scss';
@import 'utilities.scss';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    font-family: 'Kumbh Sans', sans-serif;
    background:$lightGray; 
}

:is(h1,h2,h3,h4)
{
    line-height:1.2;
}


.home{
    position:relative;

}
.blackBG{
    background:black;
}

.search-filter-container{
   position:absolute;
   width:100%;
   top:-42px;
    .container{
       
        height:100%;
        background:$pureWhite;
        height:80px;
        border-radius: 6px;
    }


    @media(min-width: 768px)
    {
        .container{
           display:flex;
           align-items: center;
           justify-content: space-around;
           
           
        }
    }

    @media(min-width: 768px)
    {
        top:-38px; 
    }
 
}

.load-more-container{
    margin:$top-spacing;
    display:flex;
    align-items: center;
    justify-content: center;
    
}



