@import './colors.scss';
@import './fonts.scss';

$top-spacing:2rem;

.container{
    max-width: 88%;
    margin:0 auto;
   
}

.btn{
    padding:1rem 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $bodyText;
    font-weight:700;
    border:none;
    border-radius: 5px;
    outline: transparent;
    cursor:pointer;

    @media(min-width:768px)
    {
        padding: 1rem;
    }
    @media(min-width:1200px)
    {
        padding: 1rem 2rem;
    }

    


}

.default-btn{
    background:$violet;
    color:$pureWhite;
    transition:background 0.3s ease-in-out;
   
    &:hover{
     background:$lightViolet;
   }
}

.main-input{
    
        padding:1rem 0;
        color:$darkBlue;
        font-size: $bodyText;
        border:none;
        outline: transparent;
        font-weight: 300;
       &::placeholder{
           color: #19202D;
    
           mix-blend-mode: normal;
           opacity: 0.5;
           font-size: $bodyText;
           font-family: 'Kumbh Sans', sans-serif;
           font-weight: 400;
           
       }
      
}
.blackBG.main-input{
    background:$darkBlue;
    color:$pureWhite;
    
    &::placeholder{
        color: $pureWhite;
    }
}

.borderLine{
  width: 1px;
  height: 80px;
 background:$darkGrey;
 mix-blend-mode: normal;
 opacity: 0.2;
    
}

.inner-spacing{
    padding:0 1rem 0 1.5rem;
   display: flex;
   align-items: center;
   gap:10px;
     

   @media(min-width: 1200px)
   {
       
       padding:0 1rem 
   }
   
   }

   .overlay{
       position: absolute;
       z-index: 5;
       top:-200px;
       left: 0;
       right:0;
       bottom: 0;
       width:100%;
      

        &::after{
            content:'';
           width: inherit;
            height:inherit;
            background:#000000;
            mix-blend-mode: normal;
            position:absolute;
            top:0;
            left:0;
            opacity:0.5;
        }
       

   }

 

   .error-message{
       background:$pureWhite;
       border-radius:6px;
       position:relative;
       transform: translateY(350px);
       z-index:10;
       padding:1.5rem 2rem;
       display: flex;
       flex-direction: column;
       gap:1.4rem;
       animation: 0.7s warning-message forwards; 
      
       .message-header{
        display:flex;
         i{
             color:$violet;
             font-size: 1.4rem;
         }
         h2{
             color:$darkBlue;
             font-size:1.4rem ;
             margin-left: 1rem;
           
         }
       }

       p{
           font-size: 1.1rem;
        color: $darkBlue;
            mix-blend-mode: normal;
            opacity: 0.5;
            align-self: center;
            
       }
       button{
           width: 100%;
       }

   }
   .message-container{
     max-width: 88%; 
     margin:0 auto;
   }

 

   @keyframes warning-message {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(300px);
    }
   }