@import './colors.scss';
@import './fonts.scss';

$top-spacing:2rem;

.container{
    max-width: 88%;
    margin:0 auto;
   
}

.default-btn{
    background:$violet;
    color:$pureWhite;
    width:141px;
    height:48px;
    border:none;
    outline: transparent;
    

}