@import './colors.scss';
@import './fonts.scss';

$top-spacing:2rem;

.container{
    max-width: 88%;
    margin:0 auto;
   
}

.btn{
    padding:1rem 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $bodyText;
    font-weight:700;
    border:none;
    border-radius: 5px;
    outline: transparent;
    cursor:pointer;

    @media(min-width:768px)
    {
        padding: 1rem;
    }
    @media(min-width:1200px)
    {
        padding: 1rem 2rem;
    }

    


}

.default-btn{
    background:$violet;
    color:$pureWhite;
    transition:background 0.3s ease-in-out;
   
    &:hover{
     background:$lightViolet;
   }
}

.main-input{
    
        padding:1rem 0;
        color:$darkBlue;
        font-size: $bodyText;
        border:none;
        outline: transparent;
        font-weight: 300;
       &::placeholder{
           color: #19202D;
    
           mix-blend-mode: normal;
           opacity: 0.5;
           font-size: $bodyText;
           font-family: 'Kumbh Sans', sans-serif;
           font-weight: 400;
           
       }
      
}
.blackBG.main-input{
    background:$darkBlue;
    color:$pureWhite;
    
    &::placeholder{
        color: $pureWhite;
    }
}

.borderLine{
  width: 1px;
  height: 80px;
 background:$darkGrey;
 mix-blend-mode: normal;
 opacity: 0.2;
    
}

.inner-spacing{
    padding:0 1rem 0 1.5rem;
   display: flex;
   align-items: center;
   gap:10px;
     

   @media(min-width: 1200px)
   {
       
       padding:0 1rem 
   }
   
   }

 