@import '../colors.scss';
@import '../fonts.scss';

.search-bar-container{
   
   .container{
       display: flex;
       align-items: center;
       
       
      #icon-filter{
          
           margin-left: auto;
          margin-right:15px; 
      }
   }
    .blackBG.container{
      background:$darkBlue;
      border-radius: 6px;

   }

}

.blackBG.search-bar-container{
   background:$darkBlue;
   border-radius: 6px;
}





.icon-search-box-container
{
    width:48px;
    height:48px;
    background:$violet;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    
   
}

.search-bar-fullScreen-container{
  
     
   input{
        width:80%;
      }

      @media(min-width: 1200px)
      {
      
         width: 400px;
         input{
            width:100%;
          }
      }
   }
    
     
   
   
  
  
